{
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "printWidth": 95,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"]
}
